body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #323845; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dashboard-holder {
  height: 100%;
  width: 100%;
  background-color: #323845;

}

.dashboard-second-layer {
  margin: 0% 3% 0% 3%;
}

.ui.inverted.menu {
  background: #323845;
}

.ui.grid {
  background: #323845;
}

.ui.segment:last-child {
  background: #323845;
}

.ui.button, .ui.buttons .button, .ui.buttons .or {
  margin: 1% 1% 1% 1%;
}

.salaryOffers {
  display: inline-block;
}

.salaryOfferInput {
  margin-right: 2px;;
  /* margin-top: px; */
}
.center {
  text-align: center;
}

.allLocationFilter {
  margin-right: 10px;
}

.overflow {
  height: 1000px;
  width: 100%;
  overflow:auto;
}

.interviewer-title {
  color : #4caaf6;
}
.interviewer-location {
  color: #a3a9b5;
  margin-top: -5%
}
.interview-location-salary {
  color: #a3a9b5;
  margin-top: -5%;
}

.interviewer-days {
  color: #a3a9b5;
  margin-top: 15%;
}

.search-result-number {
  padding-top: 5%;
  color: #a3a9b5;
}

.sortby-text {
  color: #a3a9b5;
  margin-right: 5%;
  display: inline;
}

.white {
  color: white;
}

.grey {
  color: #a3a9b5;
}

.space-text-go-up-1-percent {
  margin-top: -1%;
}

.details-text-space-top-10-percent {
  margin-top: 10%;
}

.details-text-space-top-5-percent {
  margin-top: 5%;
}

.architable-logo {
  width: 100%;
  height: 100%;
}

.architable-logo-container {
  width: 300px;
  height: 80px;
}

.min-and-max-dropdown-text {
  display: inline-block;
}

.margin-right-5-percent {
  margin-right: 5%;
}
.card-avatar-logo {
  margin-top: 50%;
}
