body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #323845;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  background-color: #323845;
  margin: 0% 3% 0% 3%;
}

.ui.inverted.menu {
  background: #323845;
}

.ui.grid {
  background: #323845;
}

.ui.segment:last-child {
  background: #323845;
}

.ui.button, .ui.buttons .button, .ui.buttons .or {
  margin: 1% 1% 1% 1%;
}

.salaryOffers {
  display: inline-block;
}

.salaryOfferInput {
  margin-right: 2px;;
  /* margin-top: px; */
}
.center {
  text-align: center;
}

.allLocationFilter {
  margin-right: 10px;
}

.card-holder {
  height: 100%;
}

.interviewer-title {
  color : #4caaf6;
}
.interviewer-location {
  color: #a3a9b5;
  margin-top: -3%
}
.interview-location-salary {
  color: #a3a9b5;
  margin-top: -3%;
}

.interviewer-days {
  color: #a3a9b5;
  margin-top: 15%;
}